injection:
  network_name: '../docker-network:network_name'
  database_host: '../postgres:database_host'
  database_port: '../postgres:database_port'
  database_name: '../postgres:database_name'
  database_user: '../postgres:database_user'
  database_password: '../postgres:database_password'
  redis_connection_string: '../redis:redis_connection_string'

envs:
  qa:
    backend_file: ./envs/qa_backend.tf
    var_files:
      - ./envs/qa.tfvars
  dev:
    backend_file: ./envs/dev_backend.tf
    var_files:
      - ./envs/dev.tfvars
